body {
    background-color: lightblue;
}

.center {
    text-align: center;
} 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.column {
    float: left;
}
  
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

 li {
    padding: 1%;
    margin: 1%;
    background-color: white;
    list-style-position: inside;
    width: 50%;
    height: 20px;
    
}

#submit {
    padding: 0.5%;
}

.devour {
    height: 31px;
    padding: 3%;
    margin: 1%;
}
